.App-header {
  height: 50px;
  width: 100%;
  padding: 10px;
  color: black;
  position: fixed;
  z-index: 1;
  text-align: center;
}

.App-header h1 {
  position: absolute;
  left: 0;
  right: 0;
}

.mycontainer {
  position: absolute;
  background-color: transparent;
  overflow: scroll;
}

.App-map-container {
  width: 70%;
  height: 100%;
  float: left;
}

.App-map {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.App-dropdown {
  bottom: 10px;
  left: 10px;
  
}

.App-data {
  width: 400px;
  height: 50%;
  bottom: 10px;
  right: 10px;
}

.App-selection {
  top: 10px;
  right: 10px;
  z-index: 5;
}

.fill {
}

.EasterEgg {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}



.selection-option {
    width: 100%;
    margin: 5px 0px;
    border-style: dashed;
    border-width: thin;
}
.selection-option button{
    float: right;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
