.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.controls {
  width: 50%;
  float: left;
  height: 100%;
  position:fixed;
}

.data {
  width: 50%;
  float: right;
  overflow: scroll;
  height: 100%;
}

.selection-option {
    width: 100%;
    margin: 5px 0px;
    border-style: dashed;
}
.selection-option button{
    float: right;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
