

.App-header {
  height: 50px;
  width: 100%;
  padding: 10px;
  color: black;
  position: fixed;
  z-index: 1;
  text-align: center;
}

.App-header h1 {
  position: absolute;
  left: 0;
  right: 0;
}

.mycontainer {
  position: absolute;
  background-color: transparent;
  overflow: scroll;
}

.App-map-and-controls {
  width:60%;
  height: 100%;
  position: absolute;
  left: 0;
}

.App-map {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  z-index: -1;
}

.App-data {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0px;
}

.App-dropdown {
  bottom: 10px;
  left: 10px;
}

.App-slider {
  position: absolute;
  width: 50%;
  top: 20px;
  margin: 20px;
  padding: 20px;
  transform: translateX(50%);
  z-index: 15;
}

.input-range__slider:active {
  -webkit-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important  ;
}



.App-selection {
  top: 10px;
  right: 10px;
  z-index: 5;
}

.fill {
}

.EasterEgg {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}



.selection-option {
    width: 100%;
    margin: 5px 0px;
    border-style: dashed;
    border-width: thin;
}
.selection-option button{
    float: right;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
